<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="loginUrl" value="http://localhost:300/pages/login.aspx" />
    <add key="webElementTimeout" value="20" />
    <add key="dbRetrieveTimeout" value="20" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Aspose.Cells.LicenseFileName" value="Aspose.Total.lic" />
	
	  <add key="ProcessingAgentProcessName" value="EVE.ProcessingAgent.WindowsService" />
	<add key="GroupControllerProcessName" value="EVE.GroupController.WindowsService" />
	<add key="MountImageProProcessName" value="MIPGUI" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IExhibitBookmark">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IClone">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:300/EVE.Site.Services/ExhibitBookmarkService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExhibitBookmark" contract="ExhibitBookmarkService.IExhibitBookmark" name="WSHttpBinding_IExhibitBookmark" />
      <endpoint address="http://wynns1a.cnw.co.nz:300/EVE.Site.Datastore.Services/CloneService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClone" contract="CloneService.IClone" name="WSHttpBinding_IClone" />
    </client>
  </system.serviceModel>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration --><unitTestProvider name="NUnit" /></specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.12051" newVersion="2.6.0.12051" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>